# Example Python Data Science Workflow

Steps:

0. get ready
1. import
2. clean
3. filter
4. sort
5. transform
6. group
7. aggregate
8. plot

## 0. Get Ready

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## 1. Import

In [ ]:
# Make a url variable:

url = 'https://raw.githubusercontent.com/environmental-data-science/eds217-day0-comp/main/data/raw_data/toolik_weather.csv'

In [ ]:
# Import the url to a dataframe using pd.read_csv:

df = pd.read_csv(url)
df.head()

In [ ]:
# Count the number of missing (null) values in each column
df.isnull().sum()

In [ ]:
df.describe()

### Steps 2-5 (Intentionally left blank)

### Step 6: Group by Month

In [ ]:
monthly = df.groupby('Month')
print(type(monthly))

### Step 7: Aggregate (get monthly averages)

In [ ]:
monthly_means = monthly['Daily_AirTemp_Mean_C'].mean()
print(monthly_means)

### Step 8: Make a plot!

In [ ]:
month_names = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec']
plt.bar(month_names, monthly_means)